/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.full-screen-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.layered-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.landing-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.elements-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row; /* Align columns horizontally */
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    z-index: 2;
    pointer-events: none; /* Ensure clicks pass through if necessary */
}

.gifs-container, .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    pointer-events: auto; /* Ensure clickable elements remain interactive */
}

.gif-image {
    width: 15vw;
    max-width: 150px; /* Adjust max width as needed */
    height: auto;
    cursor: pointer;
}

.button-image {
    width: 45vw; /* Increase size by 150% */
    max-width: 450px; /* 150% of the original 300px */
    height: auto;
    cursor: pointer;
}

.buttons-container {
    margin-left: -5.4vw; /* 60% reduction of 30% overlap */
}

/* Media Queries for responsiveness */
@media screen and (max-width: 1200px) {
    .gif-image {
        width: 20vw;
        max-width: 200px;
    }
    .button-image {
        width: 60vw; /* Increase size by 150% */
        max-width: 600px; /* 150% of the original 400px */
    }
    .buttons-container {
        margin-left: -7.2vw; /* 60% reduction of 30% overlap */
    }
}

@media screen and (max-width: 768px) {
    .gif-image {
        width: 30vw;
        max-width: 150px;
    }
    .button-image {
        width: 90vw; /* Increase size by 150% */
        max-width: 450px; /* 150% of the original 300px */
    }
    .buttons-container {
        margin-left: -10.8vw; /* 60% reduction of 30% overlap */
    }
}

@media screen and (max-width: 480px) {
    .gif-image {
        width: 40vw;
        max-width: 120px;
    }
    .button-image {
        width: 120vw; /* Increase size by 150% */
        max-width: 360px; /* 150% of the original 240px */
    }
    .buttons-container {
        margin-left: -14.4vw; /* 60% reduction of 30% overlap */
    }
}
