/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.full-screen-section {
    background-image: url('https://i.imgur.com/803O4l3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.layered-container {
    position: relative;
}

.buttons-container {
    position: absolute;
    bottom: -400px; /* Move buttons further down */
    left: -700px; /* Move buttons further left */
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
    padding: 10px; /* Padding to make the container more visible */
}

.button-image {
    width: 150px; /* Adjust the size as needed */
    height: auto;
    cursor: pointer;
}
